@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import "tailwindcss";

/* Apply TikTok Sans font to entire app */
* {
  font-family: 'TikTok Sans', sans-serif;
}

.sidebar {
  height: calc(100vh - 64px);
}

.main-content {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

/* Custom scrollbar for sidebar */
.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Custom scrollbar for main content */
.main-content::-webkit-scrollbar {
  width: 6px;
}

.main-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.main-content::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 4px;
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.logo {
  display: inline-block;
  background: #fff;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4MCIgaGVpZ2h0PSIzMiIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzI1RjRFRSIgZD0iTTEwLjU4MSAxMi43Mzl2LTEuMjdhOSA5IDAgMCAwLTEuMjU2LS4wOTJDNC4xODMgMTEuMzc3IDAgMTUuNjIgMCAyMC44MzVhOS40OSA5LjQ5IDAgMCAwIDMuOTgxIDcuNzQ0bC0uMTMtLjE0NWMtMS40NzEtMS42NzMtMi4zMTgtMy44OC0yLjMxOC02LjI5NSAwLTUuMTQgNC4wMDgtOS4yOCA5LjA0OC05LjQiLz48cGF0aCBmaWxsPSIjMjVGNEVFIiBkPSJNMTAuODAxIDI2LjQ5NGMyLjI5NSAwIDQuMjAzLTEuODg2IDQuMjg4LTQuMTkzbC4wMS0yMC41NTUgMy42NzkuMDA2LS4wMS0uMDQ2QTcuMyA3LjMgMCAwIDEgMTguNjUuNDAyaC01LjA2NmwtLjAwOCAyMC41OTRjLS4wODUgMi4zMDYtMS45NTYgNC4xNTgtNC4yNSA0LjE1OGE0LjIgNC4yIDAgMCAxLTEuOTc1LS40OTdjLjc3MyAxLjA5IDIuMDMgMS44MzcgMy40NTEgMS44MzdNMjUuNjk3IDguNzhWNy41NTJhNi45MyA2LjkzIDAgMCAxLTMuODM3LTEuMTU4Yy45ODMgMS4xNDYgMi4zMiAyLjA1NSAzLjgzNyAyLjM4NCIvPjxwYXRoIGZpbGw9IiNGRTJDNTUiIGQ9Ik0yMS44NTggNi4zOTRhNy4xOCA3LjE4IDAgMCAxLTEuNzMzLTQuNjg3aC0xLjM5MmMuMzU3IDEuOTU4IDEuNTM4IDMuNjM3IDMuMTI1IDQuNjg3TTkuMzI1IDE2LjQ3NmMtMi4zNDkgMC00LjI5NyAxLjk3Ny00LjI5NyA0LjM1OSAwIDEuNjU5Ljk2NiAzLjEgMi4zMjEgMy44MjNhNC4zMyA0LjMzIDAgMCAxLS44MDYtMi41MmMwLTIuMzgyIDEuOTEtNC4zMiA0LjI1OS00LjMyLjQzOCAwIC44NTguMDc0IDEuMjU2LjJ2LTUuMjQ2YTkgOSAwIDAgMC0xLjI1Ni0uMDkycS0uMTExLjAwMS0uMjIxLjAwNmwtLjAzNS4wMDUtLjAwNCAzLjk2MmEzLjkgMy45IDAgMCAwLTEuMjE3LS4xNzciLz48cGF0aCBmaWxsPSIjRkUyQzU1IiBkPSJtMjUuNjk3IDguNjk4LS4wMjgtLjAwNi0uMDEyIDMuOTU1Yy0yLjYyNyAwLTUuMDUtLjg2Ny03LjAzOC0yLjMxNGwtLjAwNiAxMC41MDJjMCA1LjIxNS00LjE0OSA5LjQyLTkuMjkgOS40Mi0xLjk4NiAwLTMuODMtLjU5Ny01LjM0NC0xLjY3NSAxLjcwNCAxLjg1NSA0LjEzIDMuMDE4IDYuODIgMy4wMTggNS4xNDEgMCA5LjMyNC00LjI0MyA5LjMyNC05LjQ1OFYxMS42OTZhMTEuOTMgMTEuOTMgMCAwIDAgNy4wNDggMi4zdi01LjE0cS0uNzU3LS4wMDItMS40NzQtLjE1OCIvPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xOC42NDYgMjAuODM1VjEwLjM5MWExMS45MyAxMS45MyAwIDAgMCA3LjA0OCAyLjI5OVY4LjY5N2E3LjAzIDcuMDMgMCAwIDEtMy44MzgtMi4zMDMgNy4xNyA3LjE3IDAgMCAxLTMuMDktNC42ODdoLTMuNzFsLS4wMDggMjAuNTk0Yy0uMDg1IDIuMzA2LTEuOTU2IDQuMTU4LTQuMjUgNC4xNThhNC4yMyA0LjIzIDAgMCAxLTMuNDUxLTEuOCA0LjMzIDQuMzMgMCAwIDEtMi4yODMtMy44MjVjMC0yLjM4MiAxLjkxLTQuMzIgNC4yNTgtNC4zMi40MzkgMCAuODU5LjA3NCAxLjI1Ny4ydi00LjAzYy01LjA0LjEyLTkuMTA0IDQuMzEzLTkuMTA0IDkuNDU0IDAgMi40ODYuOTUxIDQuNzUgMi41MDQgNi40NGE5LjE4IDkuMTggMCAwIDAgNS4zNDMgMS43MTNjNS4xNDIuMDAzIDkuMzI0LTQuMjQgOS4zMjQtOS40NTdNMzAuNjkzIDMuNDUyaDguMjZsLS43NiAyLjM1LTIuMTQyLS4wMDF2OC42ODloLTIuNjdWNS44bC0yLjY4Ny4wMDZ6TTUyLjQ4IDMuNDUyaDguNDVsLS43NTggMi4zNS0yLjMzLS4wMDF2OC42ODlINTUuMTdWNS44bC0yLjY4Ny4wMDZ6TTM5LjQ1NSA2Ljk2MmgyLjY0OEw0Mi4xIDE0LjQ5aC0yLjYyOXpNNDMuMTU0IDMuNDIxSDQ1Ljh2NS4xNDFsMi42Mi0yLjU1OGgzLjE1OGwtMy4zMTYgMy4yIDMuNzE0IDUuMjg3aC0yLjkxNGwtMi40NzgtMy42NjYtLjc4NC43NTh2Mi45MDhoLTIuNjQ1ek03MS4xNzkgMy40MjFoMi42NDV2NS4xNDFsMi42Mi0yLjU1OGgzLjE1OGwtMy4zMTYgMy4yTDgwIDE0LjQ5MWgtMi45MTRsLTIuNDc4LTMuNjY2LS43ODQuNzU4djIuOTA4aC0yLjY0NXpNNDAuNzggNi4xMDNhMS4zMyAxLjMzIDAgMCAwIDEuMzMyLTEuMzI2IDEuMzMgMS4zMyAwIDAgMC0xLjMzMy0xLjMyNiAxLjMzIDEuMzMgMCAwIDAtMS4zMzMgMS4zMjYgMS4zMyAxLjMzIDAgMCAwIDEuMzMzIDEuMzI2Ii8+PHBhdGggZmlsbD0iIzI1RjRFRSIgZD0iTTYwLjU5MSA5Ljk4NGMwLTIuMzcgMS44NC00LjMxIDQuMTc2LTQuNDlhNiA2IDAgMCAwLS4zOTctLjAxNmMtMi41MDMgMC00LjUzIDIuMDE4LTQuNTMgNC41MDZzMi4wMjcgNC41MDYgNC41MyA0LjUwNmMuMTIgMCAuMjc5LS4wMDYuMzk3LS4wMTUtMi4zMzYtLjE4LTQuMTc2LTIuMTIxLTQuMTc2LTQuNDkiLz48cGF0aCBmaWxsPSIjRkUyQzU1IiBkPSJNNjUuNzk4IDUuNDc4Yy0uMTIgMC0uMjgxLjAwNi0uNC4wMTUgMi4zMzUuMTgyIDQuMTcyIDIuMTIzIDQuMTcyIDQuNDkxIDAgMi4zNjktMS44MzcgNC4zMDgtNC4xNzIgNC40OTEuMTE4LjAwOS4yOC4wMTUuNC4wMTUgMi41MDIgMCA0LjUzLTIuMDE3IDQuNTMtNC41MDYgMC0yLjQ4OC0yLjAyOS00LjUwNi00LjUzLTQuNTA2Ii8+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTY1LjA4IDUuNDc4Yy0yLjUwMSAwLTQuNTMgMi4wMTgtNC41MyA0LjUwNnMyLjAyOSA0LjUwNiA0LjUzIDQuNTA2YzIuNTAzIDAgNC41MzEtMi4wMTcgNC41MzEtNC41MDYgMC0yLjQ4OC0yLjAyOC00LjUwNi00LjUzLTQuNTA2bTAgNi42OTdhMi4xOTcgMi4xOTcgMCAwIDEtMi4yMDItMi4xOWMwLTEuMjEuOTg2LTIuMTkyIDIuMjAzLTIuMTkyczIuMjAzLjk4IDIuMjAzIDIuMTkxYTIuMiAyLjIgMCAwIDEtMi4yMDMgMi4xOU0zMi4yMDMgMjQuODE2Yy4wMTYuNDkzLjI0My45NTYuNjk5IDEuMzUzLjQ1NC4zOTggMS4wMjMuNTg5IDEuNzA1LjU4OSAxLjM0OSAwIDIuMTExLS43MDEgMi4yNTctMS42MDkuMDgxLTEuMDgyLS43My0xLjcwNC0xLjktMS45NTlsLTEuNDQ1LS4zNXEtMi43MjctLjY5My0yLjcyOC0yLjg2N2MwLS45MDcuMzU3LTEuNjQgMS4wNzItMi4yMTMuNzE1LS41ODggMS41Ni0uODc1IDIuNTUtLjg3NSAxLjA0IDAgMS45LjMwMiAyLjU4My44OTIuNjgxLjU4OSAxLjAyMiAxLjM1MyAxLjAyMiAyLjMyNWgtMS41MWMwLTEuMDgyLS44NzctMS43OTktMi4xMS0xLjc5OS0uNTcgMC0xLjA1Ny4xNTktMS40OC40NjItLjQwNS4zMDItLjYxNy43MDEtLjYxNyAxLjE5NSAwIC43NjQuNTM2IDEuMjczIDEuNTkyIDEuNTI5bDEuNDYxLjM1YzIuMTI4LjUyNiAzLjIgMS43MiAyLjk4OSAzLjQ0LS4wOTcuODI4LS40ODggMS41MTMtMS4xNTMgMi4wNTRxLS45OTkuODEzLTIuNTgzLjgxMmMtMS4xMiAwLTIuMDQ3LS4zMzQtMi43OTMtLjk4N3EtMS4xMi0xLjAwNS0xLjEyMS0yLjM0aDEuNTF6TTQxLjE1MyAyNy45ODVoLTEuNDc3VjE2LjUwM2gxLjQ3OHY1LjE2Yy4yMTEtLjQxNS41NTMtLjczMyAxLjAzOS0uOTRxLjc1NS0uMzM0IDEuNDYxLS4zMzRjMS45IDAgMy4wODYgMS4yMSAzLjA3IDMuMjk2djQuM2gtMS40NzhWMjMuNzhjMC0xLjIxLS43My0xLjk3NC0xLjc4Ny0xLjk3NC0uNiAwLTEuMTM3LjE3NS0xLjYwNy41NDEtLjQ3Mi4zNS0uNjk5Ljg5Mi0uNjk5IDEuNjI1ek00OC45NTYgMjEuNDU1Yy43NjQtLjcxNiAxLjcwNi0xLjA2NiAyLjgyNi0xLjA2NnMyLjA2My4zNSAyLjgyNSAxLjA2NmMuNzY0LjcxNyAxLjE1MyAxLjY0IDEuMTUzIDIuNzg3cTAgMS43Mi0xLjE2OSAyLjgxOWMtLjc2My43MTYtMS43MDUgMS4wODItMi44MSAxLjA4Mi0xLjEwMyAwLTIuMDQ2LS4zNjYtMi44MDktMS4wODItLjc2Mi0uNzE2LTEuMTUzLTEuNjU3LTEuMTUzLTIuODE5IDAtMS4xNDYuMzc0LTIuMDcgMS4xMzctMi43ODdtNC41OTYgMS4wMmMtLjQ3MS0uNDQ2LTEuMDcyLS42Ny0xLjc3LS42Ny0uNjk5IDAtMS4zLjIyMy0xLjc4Ny42Ny0uNDcxLjQ0NS0uNzE0IDEuMDM1LS43MTQgMS43NjcgMCAuNzUuMjQzIDEuMzU0LjcxNCAxLjgxNi40ODguNDYyIDEuMDg4LjY4NSAxLjc4Ny42ODVzMS4yOTktLjIyMyAxLjc3LS42ODVxLjczMS0uNjkzLjczMS0xLjgxNiAwLTEuMS0uNzMtMS43NjdNNTguNDYxIDIwLjU0N3YxLjE2MmMuNTA0LS44MjggMS41Ni0xLjMyMiAyLjY0OC0xLjMyMiAxLjA1NSAwIDEuOTY0LjM2NiAyLjY5NSAxLjA4My43My43MTYgMS4xMDQgMS42NTYgMS4xMDQgMi44MTggMCAxLjE0Ny0uMzczIDIuMDctMS4xMDQgMi43ODgtLjczLjcxNi0xLjYyNSAxLjA2Ni0yLjY5NSAxLjA2Ni0xLjEwNCAwLTIuMTc2LS40NDUtMi42NDgtMS4yNzN2NC43MjloLTEuNDc4di0xMS4wNXptLjc2MyA1LjU0MmMuNTAzLjQzIDEuMDcyLjYzNyAxLjczOC42MzcgMS40MTMgMCAyLjQ1Mi0uOTcxIDIuNDUyLTIuNDIgMC0uNzMyLS4yNDQtMS4zMzgtLjcxNS0xLjhzLTEuMDM5LS43LTEuNzM3LS43Yy0uNyAwLTEuMjg0LjIyMi0xLjc3MS42ODQtLjQ3Mi40NDYtLjcxNSAxLjA1Mi0uNzE1IDEuODE2LjAwMS43NDguMjQ1IDEuMzUzLjc0OCAxLjc4MyIvPjwvc3ZnPg==") no-repeat center center;
  background-size: contain;
  border-radius: 4px;
  height: 32px;
  min-width: 80px;
  width: 80px;
}


